.about-us-icon-100 {
  width: 65px;
  height: 65px;
}

.about-us-card {
  background-color: #F4F4F4;
}

.about-card-context {
  line-height: 1.5rem;
  font-size: 13px;
  font-weight: 400;
}

.about-us-read-more {
  font-size: 10px;
}

.about-us-accolade-number {
  font-size: 36px;
  font-weight: 300;
}

.about-us-accolade {
  font-size: 16px;
}
