.founder-background {
  background-color: #1A1A1A;
}

.founder-z{
  z-index: 1;
}

.founder-quote {
  line-height: 2.5rem;
  font-weight: 300;
  font-size: 24px;
}

.founder-image {
  width: 140px;
  height: 140px;
}

.founder-signature {
  position: absolute;
  width: 150px;
  height: 100px;
  top: -13px;
  right: -85px;
  font-size: 80px;
  z-index: -1;
  color: #676767;
}
