/* Grid Layout */

.header-grid {
  display: grid;
  grid-template-columns: 75px 2.6fr 75px;
  grid-template-rows: 75px 2.6fr 75px;
  grid-template-areas:
    "header-logo header header-menu"
    "header-social-media header-center header-nothing"
    "header-bottom header-prev header-next";
  height: 100vh;
  max-width: 100vw;
  max-height: ;
  overflow: hidden;
  z-index: 2;
}

.header {
  grid-area: header;
  border-right: 1px #676767 solid;
  border-left: 1px #676767 solid;
  padding-left: 1rem;
}

.header-social-media {
  grid-area: header-social-media;
  border-top: 1px #676767 solid;
  border-bottom: 1px #676767 solid;
}

.header-center {
  grid-area: header-center;
}

.header-center-border {
  border: 1px #676767 solid;
}

.header-menu {
  grid-area: header-menu;
  font-size: 22px;
}

.header-nothing {
  border-top: 1px #676767 solid;
  border-bottom: 1px #676767 solid;
  grid-area: header-nothing;
}

.header-next {
  grid-area: header-next;
}

.header-prev {
  border-right: 1px #676767 solid;
  border-left: 1px #676767 solid;
  grid-area: header-prev;
}

.header-bottom {
   grid-area: header-bottom;
}

.header-logo {
  grid-area: header-logo;
  position: absolute;
  width: 150px;
  top: -1px;
  left: -1px;
}


/* Grid Links */


.header-links-side-bar,
.header-links {
  gap: 2rem;
  padding: 0;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  height: 100%;
  font-size: 12px;
}

.header-side-link-text {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-orientation: mixed;
}


/* Head */

.header-list {
  height: 100%;
  gap: 2.5rem;
}

/* Center */

.header-center-container {
  max-width: 60%;
}

.header-center-content {
  text-align: center;
  line-height: 2rem;
  font-size: 15px;
  padding: 0 2rem;
  margin-bottom: 2rem;

}

.header-button {
  height: 4rem;
  border: none;
  width: 180px;
  font-size: 13px;
  background-color: #1A1A1A;
  color: whitesmoke;
  transition: all .3s ease-out;
}

.header-next-button {
  padding: 0;
  padding-right: 1rem;
}


.header-button:hover {
  transition: all .3s ease-in;
  background-color: whitesmoke;
  color: #1A1A1A;
}

.header-center-heading {
  margin: 5rem 0 0;
  font-size: 4.25rem;
  font-weight: 400;
}

/* Center Text SVG */

.header-absolute-center-content{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: -1;
}

.header-background-new {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #676767;
  color: transparent;
  font-size: 175px;
  font-weight: lighter;
  letter-spacing: 3.25rem;
}

.header-text-svg {
  overflow: visible;
}

/* Carousel */

.header-carousel-button {
  border: none;
  height: 100%;
  width: 100px;
  color: whitesmoke;
  font-size: 22px;
  background-color: transparent;
}

.header-background-image {
  position: absolute;
  top: 0;
  z-index: -2;
  height: 100vh;
  width: 100%;
  transform: scale(1.1);
}

/* Menu */

.header-shopping {
  font-size: 22px;
  color: whitesmoke;
  position: absolute;
  gap: 2rem;
  left: -140px;
  bottom: 25%;
}

.header-shopping-bag {
  position: absolute;
  left: -3px;
  top: 14px;
  width: 14px;
  height: 14px;
  font-size: 10px;
  background-color: #1A1A1A;
  color: whitesmoke;
}

.header-grid-search:active,
.header-cart:active {
  transform: translateY(3px);
}

/* Drop Down Menu */

.header-links:hover .header-home-drop-down {
  transform: scale(1);
  transition: scale .2s ease-in;

}

.header-home-drop-down {
  transform: scale(0);
  width: 250px;
  max-width: 300px;
  background-color: #2A2A2A;
  position: absolute;
  transition: transform .2s;
  transition-delay: .5s;
  top: 90px;
  left: -20px;
  font-size: 14px;
  z-index: 2;
}

.header-drop-down-list-item{
  color: #676767;
  transition: color .25s ease-out;
}

.header-drop-down-list-item:hover {
  transition: color .25s ease-out;
  color: whitesmoke;
}

.header-drop-down-border {
  width: 0px;
  height: 1px;
  border-bottom: 1px solid whitesmoke;
  border-width: 1px;
  margin-right: .5rem;
  transition: width .25s ease-out;
}

.header-drop-down-list-item:hover .header-drop-down-border {
  transition: width .25s ease-in;
  width: 25px;
}
