.team-section {
  background-color: #F4F4F4;
}

.team-member-info {
  position: absolute;
  top: 0;
  bottom: 3px;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.team-member-title {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
}

.team-title-size {
  font-size: 13px;
  letter-spacing: 1px;
}

.team-member-div.member-img {
  object-fit: fill;
}

.team-member-grayscale {
  transition: filter .5s ease-in;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.team-additional-info {
  transition: opacity .5s ease;
  opacity: 0;
}

.team-member-div:hover .team-additional-info {
  transition: opacity .5s ease-out;
  opacity: 1;
}

.team-member-div:hover  .team-member-grayscale {
  transition: filter .5s ease-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.team-min-height {
  min-height: 291px;
}

.team-modal-container {
  padding: 2rem;
}

.team-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: whitesmoke;
  font-size: 24px;
}
